name: Deploy to PRD
on:
  push:
    branches:
      - main
  workflow_dispatch: # Allows manual triggering of the workflow

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"
      - name: Install dependencies
        run: npm install --ignore-scripts
      # Add run test step here in the future
      - name: Build Application
        run: npm run build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: dist/

    wait-for-approval:
    needs: build
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Approval gate passed
        run: echo "Deployment approved"

  terraform-deploy:
    needs: wait-for-approval
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build
          path: dist
      # Your terraform deployment steps would continue here
